html {
    box-sizing: border-box;
    background:#ffc600;
    font-family:'helvetica neue';
    font-size: 20px;
    font-weight: 200;
  }
  body {
    margin: 0;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .panels {
    min-height:100vh;
    overflow: hidden;
    display: flex;
  }

  .panel {
    background:#6B0F9C;
    box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
    color:black;
    text-align: center;
    align-items:center;
    /* Safari transitionend event.propertyName === flex */
    /* Chrome + FF transitionend event.propertyName === flex-grow */
    transition: 
     font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
      flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
      background 0.2s;
    font-size: 20px;
    background-size:cover;
    background-position:center;
    flex:1;
    justify-content: center;
    align-items: center;
    display: flex;
    /*la direccion del flex en columna*/
    flex-direction: column;
  }


  .panel1 { background-image:url(https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=775372bf5857090b5e3e458118372cc7&auto=format&fit=crop&w=750&q=80); width:20% }
  .panel2 { background-image:url(https://images.unsplash.com/photo-1525857222756-37cdb4e87e36?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bf737060233ce12df50f602b6371926e&auto=format&fit=crop&w=750&q=80); }
  .panel3 { background-image:url(https://images.unsplash.com/photo-1525772113380-aa8ed1acf3b7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a21ce135ec3c8d74846902fdfccbe32d&auto=format&fit=crop&w=500&q=80); }
  .panel4 { background-image:url(https://images.unsplash.com/photo-1517659649778-bae24b8c2e26?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e901063a8cabf1ea1088644a007186f8&auto=format&fit=crop&w=666&q=80); }
  .panel5 { background-image:url(https://images.unsplash.com/photo-1504297050568-910d24c426d3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d5d3ab702f0e85bf6ae318a2b4d3f59b&auto=format&fit=crop&w=334&q=80); }

  /*todos los hijos directos del panel*/
  .panel > * {
    display: flex;
    margin:0;
    width: 100%;
    transition:transform 0.5s;
    /*flex: crecimiento encogimiento tama;o inicial*/
    flex:1 0 auto;
    justify-content: center;
    align-items: center;
  }
  
  /*de todos los hijos, tomo solo el primer hijo de cada uno. PD: en este caso los hijos son las p*/
  .panel > *:first-child{ transform: translateY(-100%); }
  .panel.open-active > *:first-child{transform: translateY(0);}
  .panel > *:last-child{transform: translateY(100%);}
  .panel.open-active > *:last-child{transform: translateY(0);}

  .panel p {
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
    text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    font-size: 1em;
  }

  /* tomamos el segundo parrafo, que es el seguno hijo de p */
  /* y le asignamos un valo mayor a los demas, seria el texto central  */
  .panel p:nth-child(2) {
    font-size: 3em;
  }
   /* clase que me va a permitir abrir mas el panel */
  .panel.open{
    flex:8;
    font-size:40px;
  }
